@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*They did not use this to separate the headers and footers*/
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px  16px; /*I did not have left and right padding of 16px, just of 8px*/
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #666; /*I had the color as black*/
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0px 16px;
}

/*They called .header and .footer together using .header, .footer {...} and then
  called .footer to change what they wanted specifically to that class. I like this
  and will use this combination of classes in the future. */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px; /*I added this because I thought it looked better when the page got squished*/
}

.content {
  display: flex;
  flex-direction: column;;
  align-items: center;
}

.footer {
  background: #eeeeee;
  display: flex;
  justify-content: space-between;
  margin-top: 8px; /*I added this because I thought it looked better when the page got squished*/
}

.left-links {
  display: flex;
}

.right-links {
  display: flex;
}