.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;/*I did not have this here*/
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  padding: 0;/*what I had:     padding: 20px;*/
  margin: 0;/*what I had:      margin: 16px;*/
  gap: 8px;/*what I had        column-gap: 5%;*/
}

li {
  justify-content: space-between;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}